.Product{
    height: 500px;
    width: 300px;
    border: 1px solid #95A0A7;
border-radius: 8px;
box-sizing: border-box;
position: relative;

}
.Product img{
    height: 286px;
    width: 286px;
    border-radius: 8px;
    margin: 7px;
    margin-bottom: 0px;
}

.product-info{
    margin-left: 10px;
    margin-right: 10px;
  
}

.product-info p{
    margin-top: 5px;
    margin-bottom: 0px;
}

.Single_goods_name{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
letter-spacing: 0.0015em;
margin-top: 10px;
}

.btn-cart{
    display: flex    ;
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    height: 48px;
    position:absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.btn-cart p{
    margin-right: 10px;
}

.btn-cart:hover{
    background-color: orange;
}